body {
  background-image: url(../img/bg2_1920x1200.jpg);
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 65%;
}

header {
  border-bottom: 2px solid white;
}

.v-middle {
  vertical-align: middle;
  display: inline-block;
  color: white;
}

h1 {
  font-size: 40px;
}

main {
  border-bottom: 2px solid white;
  padding-top: 10px;
}

h2 {
  color: white;
}

#searchbar {
  width: 40%;
  border-radius: 15px;
}

#button {
  border-radius: 15px;
}

#unread-counter {
  color: #ff3300;
  border-radius: 50%;
  background-color: #ffff00;
  padding: 10px;
}

#first{
  border-bottom: 2px solid white;
}

.mail_unread {
  background-color: #bdbebd;
  border: 1px solid black;
}

#star {
  font-size: 18px;
  color: orange;
}

#mail_text {
  display: inline-block;
  color: #808080;
  margin: 0;
}

#list {
  padding-top: 8px;
  padding-bottom: 8px;
}
.mail_read {
  background-color: #e9e9e9;
  border: 1px solid black;
}

footer {
  color: white;
  padding-top: 15px;
  text-align: center;
}

#gmail_credits {
  font-size: 32px;
}

#other_credits {
  font-style: italic;
  font-size: 20px;
}
