body {
  background-image: url(../img/bg2_1920x1200.jpg);
}

header {
  margin: auto;
  width: 75%;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}

#title {
  display: inline-block;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
